body {
  background-color: white;
}
h1 {
  text-align: center;
  color: white;
  border: powderblue 10px white;
  border-radius: 20px;
  margin: 10px 100px 20px 100px;
  padding: 35px;
  background-color: aqua;
}
h2 {
  text-align: center;
  color: white;
}
.subTitu {
  background-color: aquamarine;
  border: PowderBlue 5px solid;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: 10px 170px 20px 170px;
}
table {
  background-color: aquamarine;
  border: powderblue 5px;
  border-radius: 20px;
  margin: 10px 0px 50px;
}
.texto1 {
  color: white;
}
.imagenICO {
  width: 50px;
  padding: 10px;
  float: left;
}
.imagenAragon {
  width: 75px;
  float: right;
}
.tablaIco {
  margin: -8px;
  width: 101.22%;
  padding: 10px;
}
.tr {
  text-align: center;
  background-color: beige;
  width: 101.22%;
  margin: -9px;
}
.ico {
  text-align: left;
}
.fes {
  text-align: right;
}
footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
  margin: -8px;
}
