.titulo{
    width: 100%;
    height: 300px;
    text-align: center;
}
.lineadivisora{
    background-color: cornflowerblue;
    width: 100%;
    height: 50px;
    border: cornflowerblue outset;
    
}
.imagen2{
    width: 250px;
    height: 150px;
    text-align: center;
}
.fondonegro{
    background-color: rgb(0, 0, 0);
    border: rgb(0, 0, 0) outset 30%;
}
.fondonegro2{
    background-color: rgb(0, 0, 0);
    border: rgb(0, 0, 0) outset 30px;
}
.fondooscuro{
    background-color: rgb(70, 70, 70);
}
.letrasclaras{
    color: honeydew;
}
.textocentro{
    text-align: center;
}
.cuadro1{
    width: 200px;
}
.letragrande{
    font-size: 60px;
}
.letramedia{
    font-size: 25px;
}
.letraizq{
    text-align: left;
}
.bordetabla{
    background-color: cornflowerblue;
    border: cornflowerblue 60px outset;
}